rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /transcriptions/{transcriptionId} {
      allow read, write: if true;
    }
    
    match /businessCards/{cardId} {
      allow read, write: if true;
    }
  }
}
